html body{
	/*background: -moz-linear-gradient(0deg, rgba(217,102,255,1) 0%, rgba(0,4,112,1) 100%); 
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(217,102,255,1)), color-stop(100%, rgba(0,4,112,1))); 
	background: -webkit-linear-gradient(0deg, rgba(217,102,255,1) 0%, rgba(0,4,112,1) 100%); 
	background: -o-linear-gradient(0deg, rgba(217,102,255,1) 0%, rgba(0,4,112,1) 100%); 
	background: -ms-linear-gradient(0deg, rgba(217,102,255,1) 0%, rgba(0,4,112,1) 100%); 
	background: linear-gradient(90deg, rgba(217,102,255,1) 0%, rgba(0,4,112,1) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D966FF', endColorstr='#000470',GradientType=1 ); */
	background-color: #EFEFEF;
}


.name{
	color: #331f29;
	font-weight: bold;
	font-family: 'Megrim', cursive;
	font-size: 100px;
	letter-spacing: 4px;
	text-align: center;
}

.padding-top{
	padding-top: 25%;
}

.menyte{
	font-family: 'Delius', cursive;
	font-weight: bold;
	font-size: 20px;
	color: #331f29;
	text-align: center;
}

.menyte > ul > li{
	display: inline;
	text-decoration: none;
	text-align: center;
	position: relative;
	margin-right: 30px;
	-webkit-transition: color 1s ease-out;
    -moz-transition: color 1s ease-out;
    -o-transition: color 1s ease-out;
    transition: color 1s ease-out;
}

.menyte > ul > li:hover {
	color: #A9A9A9;
	cursor: pointer;
}

.thumbnail img{
	height: 240px;
}

.thumbnail {
	height: 450px;
}

.btn{
    border-radius: 4px;
    border-width: 2px;
    padding: 10px;
    border: 2px;
    background: #233237;
    color: white;
    font-size: 18px;
    cursor: pointer;
    width: 100%;
}

.btn:hover{
	color: white;
}

.btn:visited{
	color: white;
}

h3{
	font-size: 16px;
	font-weight: bold;
}

.description{
	font-style: italic;
}

.thumbnail:hover{
	/*-webkit-box-shadow: 4px 4px 20px -2px rgba(182,184,207,1);
    -moz-box-shadow: 4px 4px 20px -2px rgba(182,184,207,1);
	box-shadow: 4px 4px 20px -2px rgba(182,184,207,1);*/
	-webkit-box-shadow: 6px 6px 29px -2px rgba(35,50,55,1);
-moz-box-shadow: 6px 6px 29px -2px rgba(35,50,55,1);
box-shadow: 6px 6px 29px -2px rgba(35,50,55,1);
/*-webkit-box-shadow: 6px 6px 29px -2px rgba(234,198,122,1);
-moz-box-shadow: 6px 6px 29px -2px rgba(234,198,122,1);
box-shadow: 6px 6px 29px -2px rgba(234,198,122,1);*/
}

#about{
	background: white;
	border-radius: 4px;
	padding: 20px;
	margin-bottom: 20px;
}

#about:hover{
/*	-webkit-box-shadow: 4px 4px 20px -2px rgba(182,184,207,1);
    -moz-box-shadow: 4px 4px 20px -2px rgba(182,184,207,1);
	box-shadow: 4px 4px 20px -2px rgba(182,184,207,1);*/
	-webkit-box-shadow: 6px 6px 29px -2px rgba(35,50,55,1);
-moz-box-shadow: 6px 6px 29px -2px rgba(35,50,55,1);
box-shadow: 6px 6px 29px -2px rgba(35,50,55,1);
}

summary{
	font-size: 20px;
	color: #233237;
	outline: none;
}
summary:hover{
	cursor: pointer;
}

#contact{
	background: white;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 4px;
}

#contact:hover{
	/*-webkit-box-shadow: 4px 4px 20px -2px rgba(182,184,207,1);
    -moz-box-shadow: 4px 4px 20px -2px rgba(182,184,207,1);
	box-shadow: 4px 4px 20px -2px rgba(182,184,207,1);*/
	-webkit-box-shadow: 6px 6px 29px -2px rgba(35,50,55,1);
-moz-box-shadow: 6px 6px 29px -2px rgba(35,50,55,1);
box-shadow: 6px 6px 29px -2px rgba(35,50,55,1);
}

p > a{
	text-decoration: none;
	color: black;
}

#contact > p > i{
	font-size: 18px;
}

#projektet, #contact, #about {
	display: none;
}

i{
	color: #233237;
}