body{
    margin: 0;
    padding: 0;
    font-family: verdana;
    background: #F5F3EE;
}

.container {
    text-align:center
}

.search{
    position: fixed;
    top: 0;
    right: 0;
    width: 80px;
    height: 80px;
    background: #7D1935;
    transition: .5s;
}

.search .icon{
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 30px;
    color: #FFFFFF;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.search .icon:before{
    content: '\f002';
    font-family: fontAwesome;
}

.search.active .icon:before{
    content: '\f00d';
    font-family: fontAwesome;
}

.search.active{
    width: 100vw;
    height: 100vh;
}

.form{
    font-family: 'Shadows Into Light', cursive;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
}

.form input{
    font-family: 'Shadows Into Light', cursive;
    background: transparent;
    color: white;
    border: none;
    border-bottom: 2px solid white;
    /*border-color: white;*/
    /*border-bottom: 2px solid white;*/
    outline: none;
    font-size: 40px;
    /*padding: 10px 0;*/
    margin-bottom: 20px;
}

.search.active .form{
    display: block;
}
.form input::placeholder{
    color: #FFFFFF;
}

.btn{
    border-radius: 2px;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    padding: 10px;
    background-color: #4A96AD;
    color: white;
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.btn:focus{
    outline: 0;
}

 #results{
    font-family: 'Rambla', sans-serif;
    font-size: 18px;
    margin: auto;
    padding: 0px 10px 0px 10px;
    width: 50%;
    border-radius: 3px;
 }

h2{
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    font-family: 'Rambla', sans-serif;
    text-decoration: none;
}

#results > div {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px 15px 5px 15px;
    border-radius: 8px;
    -webkit-box-shadow: 4px 4px 13px -2px rgba(125,25,53,1);
    -moz-box-shadow: 4px 4px 13px -2px rgba(125,25,53,1);
    box-shadow: 4px 4px 13px -2px rgba(125,25,53,1);

}

#results > div:hover{
    -webkit-box-shadow: 4px 4px 27px -2px rgba(125,25,53,1);
    -moz-box-shadow: 4px 4px 27px -2px rgba(125,25,53,1);
    box-shadow: 4px 4px 27px -2px rgba(125,25,53,1);
}

#results > div > a {
    color: #4A96AD;
    text-decoration: none;
}

.gozhda{
    text-align: right;
    color:#7D1935;
    font-size: 40px;
    height: 0px;
    position: relative;
    top: -20px;

}

.gozhda:hover{
    font-size: 43px;
}
